#####################################################################
# 	Extruder
#####################################################################

#	E0 on MOTOR6
[extruder]
nozzle_diameter: 0.600
rotation_distance: 8.12	#Hemera Default 7.82
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
filament_diameter: 1.75
sensor_type: ATC Semitec 104GT-2
min_temp: 0
max_temp: 300
max_power: 1.0
min_extrude_temp: 170
max_extrude_only_distance: 2000
control = pid
pid_Kp: 32.159
pid_Ki: 2.081
pid_Kd: 124.213
pressure_advance: 0.0375		#Change dynmacially at print time with SET_PRESSURE_ADVANCE ADVANCE=X
pressure_advance_smooth_time: 0.040

##	E0 on MOTOR6
##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
interpolate: false
run_current: 0.9
hold_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 999999