#####################################################################
# 	Macros
#####################################################################
[gcode_macro G29]
default_parameter_BED_MESH_PROFILE_NAME: default
gcode:
    
    BED_MESH_PROFILE REMOVE={BED_MESH_PROFILE_NAME}
    G28
    Z_TILT_ADJUST
    BED_MESH_CALIBRATE SAVE={BED_MESH_PROFILE_NAME}
    
[gcode_macro G34]
gcode:
    G28
    Z_TILT_ADJUST

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_minimum.x|float + 5.0 %}
  {% set y_park = printer.toolhead.axis_minimum.y|float + 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  SKEW_PROFILE SAVE=Paused
  SET_SKEW CLEAR=1 ;Remove Skew
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

[gcode_macro M600]
gcode:
    PAUSE

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  SKEW_PROFILE LOAD=Paused  
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE
  SDCARD_RESET_FILE
	
[gcode_macro PRINT_START]
gcode:
  M220 S100 ;Reset Feedrate
  M221 S100 ;Reset Flowrate

  G29 ;Bed Level
  G0 X1 Y1 F9000; Return to 1,1
  SET_SKEW XY=142,140.1,99.7

[gcode_macro PRINT_END]
gcode:
  SET_PRESSURE_ADVANCE ADVANCE=0 ;Clear Pressure Advance 
  SET_SKEW CLEAR=1 ;Remove Skew

  G91 ;Relative positioning
  G1 E-2 F2700 ;Retract a bit
  G1 E-2 Z0.2 F2400 ;Retract and raise Z
  G1 X5 Y5 F3000 ;Wipe out
  G1 Z70 ;Raise Z more
  G90 ;Absolute positionning

  G1 X0 Y0 ;Present print
  M106 S0 ;Turn-off fan
  M104 S0 ;Turn-off hotend
  M140 S0 ;Turn-off bed

  M84 X Y Z E ;Disable all steppers
  CANCEL_PRINT
 
[gcode_macro NOZZLE_PRIME]
gcode:
  G92 Z0 ; Redefine the zero Z level at the target offset
  G1 Z0 F500 ; Go to the new z=0 level of the printer.

  G90 ;Absolute positionning
  G0 X1 Y1 Z0.15 F9000 ; Move to the front-left part of the bed
  G92 E0 ; Zero the extruder
  G1 Y40 E40 F500 ; Extrude a fat line of filament to prime and clean the nozzle
  G92 E0 ; Zero the extruder
  G1 Y80 F9000 ; Sweep right to cut any strings